<script setup>
useHead({
  titleTemplate: '%s – GNOME',
  meta: [
    { name: 'description', content: 'My amazing site.' }
  ],
  bodyAttrs: {
    class: 'test'
  }
})
</script>
<script>
import Gnome from '~/assets/img/gnome-logo.svg'
import OpenMenu from "~/assets/img/open-menu.svg"
import Search from "~/assets/img/search.svg"

export default {
  mounted() {
    const navbar = document.querySelector('.nav')
    const topRow = document.querySelector(".top-row")

    window.onscroll = () => {
      if (window.scrollY > topRow.clientHeight - 30) {
        navbar.classList.add('nav-active')
      } else {
        navbar.classList.remove('nav-active')
      }
    }
  },
  components: { Gnome, OpenMenu, Search }
}
</script>
<template>
  <div>
    <header class="nav">
      <div class="container">
        <NuxtLink href="/"><Gnome class="logo"/></NuxtLink>
        <input class="invisible" type="checkbox" id="menu"/>
        <label class="hamburger" for="menu"><OpenMenu/></label>
        <button class="search"><Search/></button>
        <ul class="menu">
          <li><NuxtLink href="/getting-gnome">Get</NuxtLink></li>
          <li><NuxtLink href="/about-us">About</NuxtLink></li>
          <li><NuxtLink href="/get-involved">Get Involved</NuxtLink></li>
          <li><NuxtLink href="/events">Events</NuxtLink></li>
          <li><NuxtLink href="https://apps.gnome.org">Apps</NuxtLink></li>
          <li><NuxtLink href="https://shop.gnome.org">Shop</NuxtLink></li>
          <li><NuxtLink href="/donate">Donate</NuxtLink></li>
        </ul>
      </div>
    </header>
    <NuxtPage/>
  </div>
</template>
