/* FONTS */
@font-face {
  font-family: "Cantarell";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: local("Cantarell"),
       url("~/assets/fonts/cantarell.woff2") format("woff2"),
       url("~/assets/fonts/cantarell.otf") format("opentype");
}

/* RESET & TYPOGRAPHY */
:root {
  --text: #f6f5f4;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Cantarell", -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.35;
  /*letter-spacing: -0.01em;
  word-spacing: -0.01em;*/
}
@media (min-width: 1100px) {
  html, body {
    font-size: 18px;
  }
}
body {
	color: var(--text);
  /*background: linear-gradient(90deg, #392955 0%, #3a6294 100%);*/
  /* ⇩⇩ put footer at the bottom for short pages, such as the 404 ⇩⇩ */
  display: grid;
  min-height: 100vh;
  grid-template-rows: minmax(auto,1fr);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.25rem;
  font-weight: 800;
}
a {
  color: #62a0ea;
}
ul, ol {
  list-style-position: inside;
}
:not(.menu) > li:before {
  content: "";
  margin-left: -0.25rem;
}

/* LAYOUT */
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

/* COMPONENTS */
.title {
  font-size: 2.5rem;
  /*text-align: center;*/
}
.subtitle {
  display: block;
  max-width: 20em;
  margin: 0.25rem auto;
  font-size: 1.1rem;
}
.small-print {
  font-size: 0.9em;
  max-width: 28em;
  margin: 1rem auto;
}
.promo-text {
  font-size: 1.75rem;
  max-width: 22rem;
  margin: 0.25rem auto;
}

@media (min-width: 600px) {
  .promo-text {
    font-size: 2rem;
    max-width: 30rem;
  }
}

.button {
  display: block;
  border-radius: 99999px;
  margin: 0 auto;
  text-align: center;
  /* font-size: 0.9em; */
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.35s cubic-bezier(0.17, 0.89, 0.32, 1.28);
  filter: /* Sharp drop shadow */
          drop-shadow(0 0.08rem 0.1em rgba(0,0,0, 0.2))
          /* Diffuse ambient shadow */
          drop-shadow(0 0.1rem 0.9em rgba(0,0,0, 0.2));
}
.button:hover {
  transform: scale(1.05);
}
.button:active {
  transform: scale(0.98);
}

.small-button {
  padding: 0.6rem 1rem;
  margin: 1rem auto;
  width: 80%;
  max-width: 10rem;
  font-weight: 600;
}
@media (min-width: 1100px) {
  .small-button {
    width: 50%;
  }
}
.blue-button {
  background: linear-gradient(0deg, #3584e4 0%, #62a0ea 100%);
  color: white;
}
.white-button {
  background: linear-gradient(0deg, #c0bfbc 0%, #f6f5f4 100%);
  color: #241f31;
}
.gray-button {
  background: linear-gradient(0deg, #5e5c64 0%, #9a9996 100%);
  color: white;
}
.red-button {
  background: linear-gradient(0deg, #c01c28 0%, #ed333b 100%);
  color: white;
}
.disabled-button {
  background: none;
  opacity: 0.6;
  color: white;
  border: 2px solid #c0bfbc85;
}
.disabled-button:hover {
  transform: none;
  cursor: default;
}
.warning-label {
	color: #f6d32d;
	font-weight: 600;
}

.icon-shadow {
  filter: /* Sharp drop shadow */
          drop-shadow(0 0.08rem 0.1rem rgba(0,0,0, 0.35))
          /* Diffuse ambient shadow */
          drop-shadow(0 0.4rem 0.7rem rgba(0,0,0, 0.18));
}
.group {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 600px) {
  .group.row {
    flex-direction: row; 
  }
  .group.row-reverse {
    flex-direction: row-reverse;
  }
}
.group .block {
  width: 100%;
  max-width: 32.5rem;
  text-align: center;
  margin: auto;
}
@media (max-width: 600px) {
  .group .block {
    margin: 0.5rem auto;
  }
}
.block h3 {
  font-size: 1.4rem;
}
.block p {
  margin: 0.25rem auto 0.5rem;
}
/*.block:not(.left) ul {
  text-align: left;
  width: 22rem;
  margin: auto;
}*/
/*@media (min-width: 1100px) {
  .block {
    font-size: 1.1rem;
  }
}*/
.block .icon {
  margin-bottom: 1rem;
}
.left {
  float: left;
  text-align: left !important;
}
@media (max-width: 600px) {
  .bugs-row .block ul {
    text-align: left;
    max-width: 22rem;
    margin: auto;
  }
}
@media (min-width: 600px) {
  .bugs-row .block {
    float: left;
    text-align: left !important;
  }
  .bugs-row .block ul {
    text-align: left;
    margin: inherit;
  }
}
.center {
  margin: auto;
  text-align: center;
}
.right {
  float: right;
  text-align: right !important;
}

/* ONE-OFF */
.nav {
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  position: fixed;
  width: 100%;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  transition: 200ms ease;
  z-index: 9999;
}

.nav .container {
  display: block;
}

@media (min-width: 1100px) {
  .nav .container {
    display: flex;
    align-items: center;
  }
}

.logo {
  display: block;
  float: left;
  width: auto;
  height: 2rem;
}
@media (max-width: 1100px) {
  .logo {
    margin: 0.25rem;
  }
}

.menu {
  display: block;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  width: 100%;
  transition: 200ms ease;
}

@media (max-width: 1100px) {
  .menu li:first-child {
    margin-top: 0.25rem;
  }
  .menu li:last-child {
    margin-bottom: 0.25rem;
  }
}

@media (min-width: 1100px) {
  .menu {
    margin-left: 0.5rem;
  }
  .menu li {
    float: left;
  }
}

.menu li > * {
  display: block;
  color: white;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  border-radius: 5px;
  transition: 200ms ease;
}

@media (min-width: 1100px) {
  .menu li > * {
    text-align: center;
  }
}

.menu li > a:hover {
  background-color: rgba(255,255,255, 0.2);
}

.hamburger, .search {
  display: block;
  height: fit-content;
  color: white;
  float: right;
  flex: 1;
  order: 9999;
  padding: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms ease;
}

.hamburger {
  margin-left: 0.25rem;
}

@media (min-width: 1100px) {
  .hamburger {
    display: none;
  }
}

.hamburger:hover, .search:hover {
  background-color: rgba(255,255,255, 0.2);
}

.hamburger > *, .search > * {
  display: block;
}

#menu:checked ~ .hamburger {
  background-color: rgba(255,255,255, 0.3);
}

#menu:checked ~ .nav, .nav-active {
  /*background-color: rgba(53, 132, 228, 0.9);*/
  background-color: rgba(0,0,0, 0.5);
}

#menu:checked ~ .menu {
  opacity: 1;
  max-height: 500px;
  visibility: visible;
  transition: 350ms ease-out;
}

@media (min-width: 1100px) {
  .menu {
    opacity: 1;
    max-height: 100%;
    visibility: visible;
  }
}

.invisible {
  display: none;
}

.top-row {
  background: linear-gradient(-34.95deg, rgb(53, 132, 228) 0%, rgb(192, 97, 203) 100%);
  padding: 5rem 0 2.25rem;
  text-align: center;
}
/*@media (min-height: 700px) and (min-width: 500px) {
  .top-row {
    padding: 8rem 0 5rem;
  }
}*/
.try-row {
  overflow: hidden;
  /*background: rgb(42, 37, 55), rgb(36, 31, 49);*/
  background: url("~/assets/img/overview-bg.svg"), rgb(36, 31, 49);
  padding: 2.25rem;
  text-align: center;
}
/*@media (min-width: 700px) {
  .try-row {
    padding: 6rem;
  }
}*/
.bugs-row {
  overflow: hidden;
  background: linear-gradient(-40.57deg, #f66151 0%, #ff7800 100%);
}

.bugs-row .container {
  padding: 3rem 2.25rem 2.25rem;
  background-image: url(~/assets/img/gnome-apps-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  display: block;
  margin: 2rem auto;
  width: 100%;
}
@media (min-width: 700px) {
  .banner {
    width: auto;
    margin: 0 auto;
  }
}
.large-button {
  width: 12em;
  padding: 0.9em 3em;
  font-size: 1.2em;
}

.laptop {
  width: 80vw;
  margin: auto;
  filter: /* Sharp drop shadow */
          drop-shadow(0 0.08rem 0.7rem rgba(0,0,0, 0.35))
          /* Diffuse ambient shadow */
          drop-shadow(0 0.4rem 0.8rem rgba(0,0,0, 0.18));
}

@media (min-width: 600px) {
  .laptop {
    width: 60vw;
  }
}

@media (min-width: 1100px) {
  .laptop {
    width: 35vw;
  }
}

.laptop div {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  overflow: hidden;
}

.laptop div > * {
  box-sizing: border-box;
  padding: 7.93% 11.51% 12.95%;
  /*padding: 11.9% 15.5% 14.8%;*/
  background: url("~/assets/img/laptop-bg.svg") center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.laptop.side {
  width: 500px;
}
.bugs-row svg {
  margin: 0.5rem;
  margin-left: 2.5rem;
  width: 600px;
}
.laptop.side.left {
  float: left;
  margin-left: -150px;
}
.laptop.side.right {
  float: right;
  margin-right: -150px;
}

@media (max-width: 600px) {
  .laptop.side {
    width: 80vw;
  }
  .bugs-row svg {
    width: 70vw;
    flex: 1;
    order: -1;
    margin: auto;
    margin-bottom: 0.75rem;
  }
  .laptop.side.left {
    margin-left: 0;
    margin: auto;
  }
  .laptop.side.right {
    margin-right: 0;
    margin: auto;
  }
}

/* FOOTER */
footer {
  background-color: #1a1622;
	text-align: center;
	padding: 4em 0 4em;
  color: white;
  font-size: 0.9em;
}
footer a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  color: white;
}
