<script>
import Apps from "~/assets/img/gnome-apps.svg"

export default {
  components: {Apps}
}
</script>
<template>
  <div class="home top-row">
    <div class="container">
      <h1 class="title">GNOME 42</h1>
      <p class="subtitle">The desktop of the future</p>
      <div class="laptop">
        <div><img src="~/assets/img/desktop.png"/></div>
      </div>
      <p class="promo-text">Get things done with ease, comfort, and control.</p>
    </div>
  </div>
  <div class="try-row">
    <div class="container">
      <div class="group row">
        <div class="laptop side left">
          <div><img src="~/assets/img/apps.png"/></div>
        </div>
        <div class="block">
          <h3>Simple and Easy to Use</h3>
          <p>Every part of GNOME has been designed to make it simple and easy to use. The Activities Overview is a simple way to access all your basic tasks. A press of a button is all it takes to view your open windows, launch applications, or check if you have new messages. Having everything in one convenient place means you don’t have to learn your way around a maze of different technologies.</p>
        </div>
      </div>
      <div class="group row-reverse">
        <div class="laptop side right">
          <div><img src="~/assets/img/folder.png"/></div>
        </div>
        <div class="block">
          <h3>Intuitive and Efficient</h3>
          <p>GNOME provides a focused working environment that helps you get things done. It is packed with features that will make you more productive: a powerful search feature, side-by-side windows, seamless integration with online accounts, and a messaging system that comfortably deals with notifications.</p>
        </div>
      </div>
      <div class="group row">
        <div class="laptop side left">
          <div><img src="~/assets/img/notifications.png"/></div>
        </div>
        <div class="block">
          <h3>Finely Crafted</h3>
          <p>Every aspect of GNOME has been crafted to fit together as a harmonious whole, providing a consistent and integrated experience. Our attention to detail means a smooth and polished product that lets you do the things you want without getting in the way. GNOME is satisfying to use and beautiful to behold.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bugs-row">
    <div class="container group row">
      <div class="block">
        <h1 class="title">GNOME Apps</h1>
        <p>GNOME Apps is a selection of apps that:</p>
        <ul>
          <li>were built with the GNOME philosophy in mind</li>
          <li>is easy to understand and simple to use</li>
          <li>have consistent and polished design</li>
          <li>is free and open source</li>
        </ul>
      </div>
      <NuxtLink href="https://apps.gnome.org" class="button small-button white-button">Go to GNOME Apps</NuxtLink>
      <Apps class="icon-shadow"/>
    </div>
  </div>
</template>
